@using OpinemBem.Models
@model List<Cidade>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Cidades</h1>
        <a class="btn btn-primary" href="@Url.Action("CadastroC", "Cidade")">Nova Cidade</a>
        <br />
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Cód.</th>
                    <th class="text-center">Nome da Cidade</th>
                    <th class="text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cidade item in Model)
                {
                    <tr>
                        <td class="text-center">@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.Estado.Sigla</td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>