*.suo
*.user
_ReSharper.*
bin
obj
packages
bin/*
obj/*
/OpinemBem/.vs
/OpinemBem/.vs/*
/OpinemBem/OpinemBem.WebUI/ApplicationInsights.config
/OpinemBem/OpinemBem.Models/OpinemBem.Models.csproj.user
/OpinemBem/OpinemBem.DataAccess/OpinemBem.DataAccess.csproj.user
/OpinemBem/OpinemBem.WebUI/OpinemBem.WebUI.csproj.user
/OpinemBem/OpinemBem.WebUI/bin
/OpinemBem/OpinemBem.WebUI/bin/*
/OpinemBem/OpinemBem.WebUI/bin/Debug
/OpinemBem/OpinemBem.WebUI/bin/Debug/*.dll
/OpinemBem/OpinemBem.WebUI/bin/Release
/OpinemBem/OpinemBem.WebUI/obj
/OpinemBem/OpinemBem.WebUI/obj/*
/OpinemBem/OpinemBem.Models/bin
/OpinemBem/OpinemBem.Models/bin/*
/OpinemBem/OpinemBem.Models/obj
/OpinemBem/OpinemBem.Models/obj/*
/OpinemBem/OpinemBem.DataAccess/bin
/OpinemBem/OpinemBem.DataAccess/bin/Debug/*.dll
/OpinemBem/OpinemBem.DataAccess/bin/Debug/*.pdb
/OpinemBem/OpinemBem.DataAccess/bin/Release/*
/OpinemBem/OpinemBem.DataAccess/bin/Release/*.dll
/OpinemBem/OpinemBem.DataAccess/bin/Release/*.pdb
/OpinemBem/OpinemBem.DataAccess/obj
/OpinemBem/OpinemBem.DataAccess/obj/*
/OpinemBem/OpinemBem.WebUI/*.user
/OpinemBem/OpinemBem.Models/*.user
/OpinemBem/OpinemBem.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
OpinemBem.DataAccess.csproj.user
*.user
.vs
OpinemBem.Models.csproj.user
OpinemBem/OpinemBem.Models/bin/Debug/OpinemBem.Models.dll
OpinemBem/OpinemBem.Models/bin/Debug/OpinemBem.Models.dll
*.dll
*.pdb
*.cache
