@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="form-horizontal">
            <h2 class="text-center"> Sobre o Opinem Bem</h2>
            <p class="text-justify">“Projeto de lei é uma ideia, uma proposta que pode vir a se transformar em lei.”
                                    O site Opinem Bem é responsável por conceber uma relação entre a política, mais especificamente, a criação de projetos 
                                    de lei e eleitores, quebrando as dificuldades do contato da divulgação dos interesses da população aos políticos.
                                    Aqui você poderá escrever projetos de lei de acordo com seus interesses e também votar em projetos de outros eleitores. 
                                    Aproveite para expor sua opinião e realizar comentários para melhorias nos projetos.
                                    Tenha uma boa experiência nessa plataforma! </p>
        </div>
    </div>
</div>