@using OpinemBem.Models
@model ProjetoU
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Projetos de Leis</h1>
        <br />
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            <div class="form-group">
                @Html.TextBoxFor(m => m.PesquisaProj, new { @class = "form-control", @placeholder = "Pesquisar..."}) 
                <button type="button" class="btn btn-primary text-right">Procurar</button>
                 @*<input type="text" class="form-control" placeholder="Pesquisar..." />
                 <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Procurar</button>
                </span>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="padding-top: 25px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome do projeto</th>
                        <th>Tempo Disponível</th>
                        <th>Já votado?</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (ProjetoU item in Model)
                    {
                        <tr>
                            <td>
                                <a href="Leis.html">Projeto 1</a>
                            </td>
                            <td>@item.Nome</td>
                            <td>@item.TempoDispo</td>
                            <td>@item.JaVotado</td>
                        </tr>
                    }*@
                    
                    @*<tr>
                        <td>
                            <a href="Leis.html">Projeto 2</a>
                        </td>
                        <td>38 dias</td>
                        <td>02</td>
                        <td>Sim</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="Leis.html">Projeto 3</a>
                        </td>
                        <td>2 dias</td>
                        <td>03</td>
                        <td>Não</td>
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>
