@using OpinemBem.Models
@model Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-3" style="border-right: 2px solid #000;">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="@Url.Content("~/Images/avatar-usuario.jpg")" width="200" height="150" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-bottom: 2px solid #000">
                @Html.LabelFor(m => m.Nome, "Nome: João da Silva", new { @class = "control-label text-center", @style = "font-size: 1.7em" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Senha, "Senha Atual:", new { @class = "control-label text-center", @style = "font-size: 1.2em" })
                            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <a href=@Url.Action("Index","PerfilU")>
                                <input type="button" class="btn btn-primary" value="Alterar Senha" onclick="alert('Senha alterada com sucesso'); return true;" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group" style="border-bottom: 2px solid #000; padding-bottom: 20px;">
                        <div class="col-md-6">
                            <label class="control-label">Nivel do Usuário: 15</label>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Progresso:</label>
                            <progress max="100" value="50" title="50%"></progress>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Projetos:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Votos Contra:</label>
                                    <progress max="100" value="30" title="30%">30%</progress>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Votos a Favor:</label>
                                    <progress max="100" value="70" title="70%">70%</progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


