@using OpinemBem.Models
@model List<Estado>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Estados</h1>
        <a class="btn btn-primary" href="@Url.Action("CadastroE", "Estado")">Novo Estado</a>
        <br />
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Cód.</th>
                    <th class="text-center">Nome do Estado</th>
                    <th class="text-center">Sigla</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Estado item in Model)
                {
                    <tr>
                        <td class="text-center">@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.Sigla</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>