@using OpinemBem.Models
@model List<Categoria>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Categorias dos Projetos de Lei</h1>
        <a class="btn btn-primary" href="@Url.Action("Cadastro", "Categoria")">Nova Categoria</a>
        <br />
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Cód.</th>
                    <th class="text-center">Nome da Categoria</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Categoria item in Model)
                {
                    <tr>
                        <td class="text-center">@item.Id</td>
                        <td>@item.Nome</td>
                        <td>
                            <a href="@Url.Action("ExclirCategoria", "Categoria", new { @id = item.Id })" onclick="javascript: if (!(confirm('Deseja realmente excluir esta categoria?'))) return false;">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>